<main class="container">
  <div class="row">
    <div class="bg-img d-flex flex-column justify-content-end">
      <div class="col-10 m-auto container-logo d-flex align-center">
        <img src="../../../assets/logo.png" alt="logo" class="logo--img me-2" />
        <span class="logo--text">Oasis.</span>
      </div>
      <div class="col-10 m-auto backtick">&quot;</div>
      <div class="col-10 m-auto container--text">
        <h2 class="header--text">
          The passage experienced a surge in popularity during the 1960s when
          Letraset used it on their dry-transfer sheets, and again during the
          90s as desktop publishers bundled the text with their software.
        </h2>
      </div>
      <div class="col-10 m-auto container--watermark">
        <span class="watermark text me-2">Vincent Obi</span>
        <span class="watermark--img--container"
          ><img
            src="../../../assets/circle-check.png"
            alt="ok"
            class="watermark--img"
        /></span>
      </div>
      <div class="img--dots--container">
        <img src="" alt="dots" class="img--dots" />
      </div>
      <div class="shape"></div>
      <div class="overlay-img"></div>
    </div>
  </div>
  <div class="row"></div>
  <app-registration></app-registration> <app-billing-info></app-billing-info>
</main>
